/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 60%;
  margin: auto;
  border: 2px solid gray;
  border-radius: 6px;
}


/******************************************
/* LAYOUT
/*******************************************/
.spinner {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: auto;
  width: 100%;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.reel {
  padding: 20px;
  min-height: 200px;
  width: 60%;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reel span {
  display: inline-block;
}

.buttons {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
}

.buttons h1 {
  width: 50%;
  font-size: 3rem;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(34, 34, 86, 0.825);
  color: white;
  margin: 0;
}

#max_bet{
  border-left: 2px solid;
}

.buttons h1:hover {
  background-color: rgb(255, 99, 71);
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
  margin: 5px 0;
}

#win {
  margin-left: 10px;
  position: relative;
  animation: upYouGo 1s forwards linear;
  animation-iteration-count: 1;
}

.info{
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.204);
  padding: 10px;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.legend, small {
  line-height: 1.3;
  font-size: 1.6rem;
  opacity: .8;
  color: rgb(74, 74, 74);

}

.legend li{
  list-style-type: none;
    text-align: right;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@keyframes upYouGo {
  0% {
    top: 0;
    opacity: 0;
  }

  50% {
    top: -20px;
    opacity: 1;
  }

  100% {
    top: -60px;
    opacity: 0;
  }
}

@media screen and (max-width:508px) {
  .spinner{
    flex-direction: column;
    align-items: center;
  }
  .buttons{
    flex-direction: column;
  }
  .buttons h1{
    width: 100%;
  }
  #max_bet{
    border-top: 2px solid;
    border-left: none;
  }
  .reel{
    min-height: 100px;
  }
}