/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

main{
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  width: 50%;

}


/******************************************
/* LAYOUT
/*******************************************/
.spinner{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: auto;
}

.reel{
  padding: 20px;
  height: 200px;
  width: 100px;
  border: 2px solid gray;
}

.buttons{
  display: grid;
  gap: 5px;
}

.buttons h1{
  border: 1px solid gray;
  padding: 10px;
  flex:1;
  font-size: 1.4rem;
  text-align: center;
}

#balance{
  
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
